#thread_form_container
  = form_for Post.new, url: url_for(controller: 'posts', action: 'create_thread'), html: {id: 'thread_form', method: 'post', multipart: true} do |f|
    = render partial: 'post_form', locals: {form_for: 'thread creation', form: f}
  %hr
  %br

#reply_form_container{style: 'display:none'}
  = form_for Post.new, url: 'hui', html: {id: 'reply_form', method: 'post', multipart: true} do |f|
    = render partial: 'post_form', locals: {form_for: 'post creation', form: f}
-@threads.each do |thread|
  .thread_container
    = render partial: 'post', object: thread
    = render partial: 'post', collection: thread.last_replies(4)
  %hr

#pages
  = t('interface.pages')
  -if @threads.total_pages > 1
    -(1..@threads.total_pages).each do |page|
      -cls  = nil
      -cls  = 'current' if page == @threads.current_page
      -u    = url_for(controller: 'posts', action: 'page', page: page)
      -u    = url_for(controller: 'posts', action: 'index') if page == 1
      %a{class: cls, href: u}= page
  -else
    %a.current{href: '.'}= 1